.loginPageContainer {
	border: 1px solid black;
	padding: 10px 70px;
	border-radius: 10px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.loginContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.registerQuestionContainer {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.credsErrMsg {
	color: red;
	font-size: 14px;
}

.emailInputContainer {
	display: flex;
	flex-direction: column;
	position: relative;
}

#emailInput:focus {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.emailListContainer {
	position: absolute;
	z-index: 1;
	top: 62px;
}
.singleEmail {
	background-color: white;
	border: 1px solid #ccc;
	padding: 0px 30px;
}

.singleEmail:hover {
	cursor: pointer;
	background-color: #d3d3d3;
}
