.mainAreaContainer {
	display: flex;
	gap: 50px;
}

.homeContainer {
	height: 100%;
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	padding: 10px 60px;
	border-radius: 10px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
	flex: 1;
}

.greetContainer {
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 50px;
	align-items: center;
	justify-content: center;
	border: 3px solid black;
	padding: 20px;
}

.friendsContainer {
	display: flex;
	gap: 200px;
}

.chatAndGameContainer {
	flex: 3;
}

.userHolders {
}

.userActions {
	display: flex;
	gap: 15px;
}

.onlineUsers {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid black;
	padding: 5px;
}

.playBtn:hover,
.chatBtn:hover {
	background-color: black;
	color: white;
}
