.toast {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.toast-message {
	border: 1px solid black;
	padding: 10px 30px;
	border-radius: 10px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}
