.friendsContainer {
	display: flex;
	gap: 200px;
}

.userActions {
	display: flex;
	gap: 15px;
}

.onlineUsers {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid black;
	padding: 5px;
	overflow-y: scroll;
}

.offlineUsers {
	width: 150px;
	overflow-y: scroll;
}

.userActions {
	display: flex;
	gap: 15px;
}

.chat-waiting::after {
	content: "!!!";
	color: blue;
	margin-left: 10px;
}

.playBtn:hover,
.chatBtn:hover {
	background-color: black;
	color: white;
}
